@model LapLich.Models.PhongHoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhongHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
