@model LapLich.Models.LopHocPhan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LopHocPhan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiangVien.TenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiangVien.TenGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopDanhNghia.TenLDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopDanhNghia.TenLDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLHP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
